@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #FFFFFF;
    --second-color: #FEDADC;
    --home-bt: #FFA5AA;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
}

header {
    padding: 32px 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}  

header a {
    color: black;
}

.home {
    min-height: 100vh;
    padding: 2rem 9% 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-color);
}

.home-content {
    padding: 0 51px;
}

.home-content p {
    display: flex;
    margin: 2rem 0 3rem;
}

.home-img img {
    width: 35vw;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: black;
    border: 1px solid black;
}
.btn:hover {
    background: lightgrey;
    transition: .5s;
}

.product h2 {
    margin-bottom: 4rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.product-container .product-box {
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
    overflow: hidden;
    display: flex;
}

.product-box img {
    width: 200px;
}