@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #FFFFFF;
    --second-color: #FEDADC;
    --home-bt: #FFA5AA;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    width: 100%;

}

/*Principal Page*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}  

header a {
    color: black;
}

/*HOME*/

.home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    background-color: var(--second-color);
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    padding: 30px 60px;
}

#home-text {
    padding-bottom: 30px;
    text-align: justify;
}


.img-home {
    width: 350px;
    margin: 30px;
    border-radius: 10px;
}


/*Botao e animação*/

.btn {
    display: inline-block;
    padding: 15px 30px;
    background: var(--bg-color);
    font-size: 20px;
    letter-spacing: .1rem;
    color: black;
}
.btn:hover {
    background: lightgrey;
    transition: .5s;
}

/*Product*/

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    padding: 20px 0px;
    font-size: 30px;
}
.container-destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
    padding: 40px 0;
    gap: 30px;
}

.box-card {
    display: flex;
    flex-direction: column;
    background-color: #FEDADC;
    align-items: center;
}

.img-product {
    height: 210px;
    width: 200px;  
    margin: 20px;
    border-radius: 10px;
}

.text-box {
    display: flex;
    padding: 20px 0 30px 0;
    gap: 10px;
}

/*Contact*/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FEDADC;
}

.container-contact {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 50px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #FFFFFF;
}

footer a {
    color: black;
    font-size: 13px;
}

.social {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

/*Direitos*/

.direitos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 218, 218);
    font-size: 12px;
}

.home-content, .img-home, .style, .btn{
    visibility: hidden;
}

/******/

/* About Page*/

.about {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    background-color: var(--second-color);
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    padding: 30px 60px;
}

.img-about {
    width: 300px;
    margin: 30px;
    border-radius: 10px;
}

.about-content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    padding: 30px 60px;
}